@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*, * a{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}


body{
    transition: all .3s;
    margin-top: 50px;
}


/* navbar*/
.navbar{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    transition: all .3s;
}


.navbar-parent{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 9% 0 9%;
}

.navbar-child.portfolio-image{
    height: 100px;
    width: 100px;
    overflow: hidden;
    background-color: #0000000f;
    border-radius: 50%;
    transition: all .3s;
}


.navbar-child.portfolio-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/*menu icon*/

#menu-icon{
    display: flex;
    flex-direction: column;
    gap: .4em;
    transition: all .2s;
    padding: 5px;
    margin-top: 20px;
}

#menu-icon:hover{
    cursor: pointer;
}

.menu-icon{
    width: 30px;
    height: 2px;
    background-color: #000;

}


/*side nav*/

.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow: hidden;
    padding-top: 60px;
    transition: .5s;
    font-family: 'Courier New', Courier, monospace;
}

.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 17px;
    color: #818181;
    display: block;
    transition: .3s;
}

.sidenav a:hover{
    color: #e83e8c;
}

/*style close btn*/

.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px
    }

    .sidenav a{
        font-size: 18px;    }
}

/*end*/

#main{
    transition: all .3s;
    margin: 0 9% 0 9%;
}


/*intro start*/

.intro{
    font-family: 'Share Tech Mono', monospace;
    line-height: 1.5;
    
}

.intro .intro-header{
    font-size: 30px;
    
}

.intro .intro-header span{
    color: #fa0075;
    font-weight: bold;

}

.intro a{
    background-color: #000;
    padding: 14px 90px;
    color: #fff;
    transition: all .3s;
}

.intro a:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #e83e8c;
}


/*photo grid*/

.gallery{
    display: flex;
    padding: 2px;
    transition: .3s;
    margin-top: 100px;
}

.gallry__column{
    display: flex;
    flex-direction: column;
    width: 33.33333%;
}

.gallery__link{
    margin: 12px;
    overflow: hidden;
    border-radius: 4px;
}

.gallery__thumb{
    position: relative;

}

.gallery__image{
    display: block;
    width: 100%;
    transition: all .3s;
    object-fit: cover;
}

.gallery__caption{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 15px 15px;
    width: 100%;
    font-family: monospace;
    font-size: 16px;
    color: #fff;
    opacity: 0;
    transition: .3s;
}

.gallery__link:hover .gallery__image{
    filter: brightness(70%);
}

.gallery__link:hover .gallery__caption{
    opacity: 1;
}


@media screen and (max-width:992px) {
    .gallery{
        justify-content: center;
        align-items: center;
    }

    .hide-on-medium-screen{
        display: none;
    }

    .gallry__column{
        width: 50%;
    }
}


@media screen and (max-width:600px) {
    .gallery{
        flex-direction: column;
    }

    .gallry__column{
        width: 100%;
    }
}

/*end*/

/*triangle card*/

.main-nav{
    position: absolute;
    margin-top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 150px;
  
}


.main-nav li{
    list-style: none;
    position: absolute;
    width: 200px;
    height: 200px;
    background: #000;
    transform: rotate(45deg);
    transition: .5s;
    margin: -100px;
    overflow: hidden;
    opacity: .5;
}

.main-nav li:hover{
    opacity: 1;
}


.main-nav li.item1{
    top: 0;
    left: 0;

}

.main-nav li.item2{
    bottom: 0;
    left: 25%;
}

.main-nav li.item3{
    top: 0;
    left: 50%;

}

.main-nav li.item4{
    bottom: 0;
    left: 75%;
}

.main-nav li.item5{
    top: 0;
    left: 100%;
}

.main-nav li .bg{
    width: 100%;
    height: 100%;
   
}



.main-nav li.item1 .bg{
    background: url(images/2121.jpg);
    background-size: cover;
    background-position: 100% 100%;
}

.main-nav li.item2 .bg{
    background: url(images/2525.jpg);
    background-size: cover;
  
}

.main-nav li.item3 .bg{
    background: url(images/88.jpg);
    background-size: cover;
    background-position: center;
}

.main-nav li.item4 .bg{
    background: url(images/3636.jpg);
    background-size: cover;
    background-position: center;
}

.main-nav li.item5 .bg{
    background: url(images/1515.jpg);
    background-size: cover;
    background-position: center;
}


@media screen and (max-width:900px) {
    li.item1, li.item5{
        display: none;
    }
}


@media screen and (max-width:600px) {
    .main-nav{
        display: none;
    }
}


/*footer*/

footer{
   background-color: #000000d0;
   margin-top: 800px;
   height: 600px;
   width: 100%;
   overflow: hidden;
}

footer .footer-parent{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 70px;
    width: 100%;
}

footer .footer-parent .footer-child{
    flex: 25%;
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    font-family: monospace;
    padding: 3%;
}

footer .footer-parent .footer-child span{
    color: #fff;
    font-size: 1.5em;
}

footer .footer-parent .footer-child a{
    color: #8a8a8a;
    font-size: 1.4em;
    transition: all .3s;
}

footer .footer-parent .footer-child a:hover{
    color: #fff;
  
}

footer .footer-parent .footer-child .footer__text-style{
    font-size: 1.4em;
}

footer .footer-parent .footer-child .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

footer .footer-parent .footer-child .icons a{
    border-radius: 20px;
    background-color: #fa0075;
    color: #fff;
    padding: 8px;
    transition: all .3s;
}

footer .footer-parent .footer-child .icons a:hover {
    background-color: #e83e8c;
   
    
}


@media screen and (max-width:600px){
    footer{
        margin-top: 50px;
        height: 1500px;
    }

    footer .footer-parent{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    footer .footer-parent .footer-child{
        width: 100%;
    }
}

